body {
    background:#e3e3e3;
    width:100%;
    margin:0;
    padding:0;
    height:100%;
    font-family:'Metrophobic', sans-serif;
    font-weight: 100;
}

h1 {
    margin-left:30px;
    font-family: 'Irish Grover', cursive;
    font-weight: 400; 
}

p {
    margin-left:50px;
    max-width:500px;
}

.red{
    width:100px;
    height:100px;
    background-color:red;
}

#logs {
    margin:10px 10px 0 10px;
    max-width:500px;
    height:200px;
    overflow:auto;
    border:1px solid #969696;
    border-radius:5px 0px 0px 5px;
    padding:10px;
    background:#bfbfbf;
}

a {
    color:#f56321;
    text-shadow: 0px 0px 1px rgba(0,0,0,.3);
    text-decoration:none;
    font-weight:bold;
}

a:hover {
    text-decoration:underline;
    text-shadow: 0px 0px 1px rgba(0,0,0,.3);
}

select {
    font-size: 15px;
    background: rgb(1,44,28);
    color: #fbbda1;
    height:27px;
    border:none;
}

button {
    margin-left:10px; 
    font-size: 15px;
    border:none;
    background-color: rgba(1,44,28,0.5);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.3),
                        inset 0 -1px 1px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.3),
                        inset 0 -1px 1px rgba(0,0,0,.3);
    color: #fbbda1;
    text-shadow: -1px -1px 1px rgba(0,0,0,.3);
    background-image: -webkit-gradient(radial, 50% -180, 200, 50% -160, 178,
                          from(rgba(1,44,28,0)),
                          to(rgba(1,44,28,.2))),
                      -webkit-gradient(linear, left top, left bottom,
                          from(rgba(1,44,28,.1)),
                          to(rgba(1,44,28,.2))); 
}

button:hover {
    cursor:hand;
    color:#672202;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    background-image: -webkit-gradient(radial, 50% -180, 200, 50% -160, 178,
                          from(rgba(255,255,255,0)),
                          to(rgba(255,255,255,.2))),
                      -webkit-gradient(linear, left top, left bottom,
                          from(rgba(150,150,150,.1)),
                          to(rgba(0,0,0,.2)));
}

.greenText { color:green;}
.redText { color:red;}

footer {
    width:100%;
    text-align:center;
    position:absolute;
    bottom:0px;
    margin-bottom:3px;
    padding:0;
}

#select-container {
    display:inline;
    margin-left:10px;
}

#square1 {
    position:absolute;
    top:400px;
    left:250px;
}

#circle1 {
    position:absolute;
    top:400px;
    left:250px;
    -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;   
}

@media (max-device-width:480px) and (orientation:landscape), 
                   (max-device-width:480px) and (orientation:portrait),
                   (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait), 
                   (min-device-width:481px) and (max-device-width:1024px) and (orientation:landscape) { 

    footer {
        width:100%;
        text-align:center;
        position:relative;
        bottom:0px;
        margin-top:30px;
        padding:0;
    }

    #logs{
        width:320px;
        padding-right:0;
        padding-left:0;
    }

    p {
        max-width:300px;
    }
}

@media (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait) {
    footer {
        position:absolute;
        bottom:0px;
    }
}
