@font-face {
    font-family: Futura-Medium;
    src: url('FutuMd.ttf');
}
@font-face {
    font-family: BanglaSangamMN;
    src: url('bangla_sangam_mn.ttf');
}

html, body {
    height:100%;
    min-height: 100%;
    width:100%;
    background: #F0F3F9;
    color: rgb(18, 29, 65);
    min-width: 320px;
}

* {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
    text-decoration:none;
}

a:visited {
    color:rgb(35, 55, 116);
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}

div.curtain {
    background-image: -moz-linear-gradient(180deg, #5C98F4 0%, #4C7BC3 80%);
    background-image: -webkit-linear-gradient(-90deg, #5C98F4 0%, #4C7BC3 80%);
    background-image: linear-gradient(180deg, #5C98F4 0%, #4C7BC3 80%);
    position:absolute;
    top: 0;
    height: 650px;
    width: 100%;
    -webkit-transform: translate3d(0,0px,0);
    -moz-transform: translate3d(0,0px,0);
    z-index: 10;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.curtain section.header div.circle {
    font-size: 50px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: relative;
    top: -50px;
    text-align: center;
    background: #4C7BC3;
    margin: auto;
}

div.curtain section.header div.circle > span {
    position: absolute;
    top: 0.3em;
    left: 0.75em;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    font-family: Futura-Medium;
    color: #233774;
    font-size: 40px;
}

section.header {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 215px;
}

section.header h1 {
    font-family: Futura-Medium;
    font-size: 125px;
    color: rgb(35, 55, 116);
    -moz-text-shadow:    1px 2px 1px rgba(150,176,216,0.99);
    -webkit-text-shadow: 1px 2px 1px rgba(150,176,216,0.99);
    text-shadow: 1px 2px 1px rgba(150, 176, 216, 0.99);
    text-align:center;
    -webkit-margin-before: 0;
    -moz-margin-before: 0;
    -webkit-margin-after: 0;
    -moz-margin-after: 0;
}

section.header h2 {
    font-family: BanglaSangamMN;
    font-size: 40px;
    color: rgb(200, 209, 235);
    -moz-text-shadow:    0px 2px 4px rgba(0,0,0,0.50);
    -webkit-text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    text-align: center;
    position: relative;
    top: -10px;
    z-index: 1;
    height: 59px;
}

section.header button.download {
    border-top-left-radius: 8px;
    background-image: -moz-linear-gradient(180deg, #D2DBEF 0%, #96ACE4 100%);
    background-image: -webkit-linear-gradient(-90deg, #D2DBEF 0%, #96ACE4 100%);
    background-image: linear-gradient(180deg, #D2DBEF 0%, #96ACE4 100%);
    -moz-box-shadow:    inset 0px -1px 1px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0px -1px 1px rgba(0,0,0,0.50);
    box-shadow:         inset 0px -1px 1px rgba(0,0,0,0.50);
    padding: 5px 0 0 0;
    height: 40px;
    width: 200px;
    border: none;
    font-family: BanglaSangamMN-Bold;
    font-size: 24px;
    color: #304987;
    -moz-text-shadow:    inset 0px 1px 1px rgba(1,1,1,0.47);
    -webkit-text-shadow: inset 0px 1px 1px rgba(1,1,1,0.47);
    text-shadow:         inset 0px 1px 1px rgba(1,1,1,0.47);
    position: absolute;
    top: 20px;
    right: 0px;
    border-bottom-left-radius: 8px;
}

section.documentation {
    overflow: auto;
    height: 390px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 34px 0 30px;
    color: rgb(18, 29, 65);
    position: absolute;
    bottom: 215px;
    width: 100%;
}

section.documentation::-webkit-scrollbar {
    width: 12px;
}

section.documentation::-webkit-scrollbar-track {
    background: rgba(200, 209, 235, 0.57);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

section.documentation::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(35, 55, 116);
}

section.documentation::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

section.documentation h1 {
    font-family: Futura-Medium;
    color: rgb(242, 245, 255);
    -moz-text-shadow:    0px 2px 4px rgba(0,0,0,0.50);
    -webkit-text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    font-size: 30px;
}

section.documentation h2 {
    font-family: Futura-Medium;
    color: rgb(242, 245, 255);
    -moz-text-shadow:    0px 2px 4px rgba(0,0,0,0.50);
    -webkit-text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    font-size: 27px;
    margin: 5px 0 15px 0;
}

section.documentation h3 {
    font-family: Futura-Medium;
    color: rgb(242, 245, 255);
    -moz-text-shadow:    0px 2px 4px rgba(0,0,0,0.50);
    -webkit-text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    font-size: 24px;
}

section.documentation h3 span {
    font-family: BanglaSangamMN;
    font-size: 18px;
    color: rgb(30, 50, 111);
    text-shadow: none;
    -webkit-text-fill-color: rgb(30, 50, 111);
}

section.documentation h3 {
    font-family: Futura-Medium;
    color: #C8D1EB;
    -moz-text-shadow:    0px 2px 4px rgba(0,0,0,0.50);
    -webkit-text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    text-shadow:         0px 2px 4px rgba(0,0,0,0.50);
}

section.documentation p {
    font-family: BanglaSangamMN;
    padding: 10px 0px;
}

section.documentation a {
    font-family: Futura-Medium;
    font-size: 20px;
    color: rgb(35, 55, 116);
    -moz-text-shadow: 0px 1px 0px rgba(0,0,0,0.06);
    -webkit-text-shadow: 0px 1px 0px rgba(0,0,0,0.06);
    text-shadow:         0px 1px 0px rgba(0,0,0,0.06);
}

section.documentation a:hover {
    text-decoration:none;
}

section.code {
    background: #F0F3F9;
    width:100%;
    height: 100%;
    position:absolute;
    top: 0;
    min-height: 600px;
}

section.code div.code-content {
    margin: 0px 2.5% 0px 2.5%;
    width: 95%;
    position: relative;
    height: 260px;
    padding: 210px 0 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section.code select {

    background-image: -moz-linear-gradient(180deg, #FFD180 0%, #EE9E12 100%);
    background-image: -webkit-linear-gradient(-90deg, #FFD180 0%, #EE9E12 100%);
    background-image: linear-gradient(180deg, rgb(255, 209, 128) 0%, rgb(238, 158, 18) 100%);
    

    border: 2px solid #D18D17;
    -moz-box-shadow:    0px 1px 0px rgba(54,44,26,0.66);
    -webkit-box-shadow: 0px 1px 0px rgba(54,44,26,0.66);
    box-shadow:         0px 1px 0px rgba(54,44,26,0.66);
    font-family: Futura-CondensedExtraBold;
    font-size: 25px;
    color: #625032;
    -moz-text-shadow:    inset 0px 1px 0px rgba(103,103,103,0.31);
    -webkit-text-shadow: inset 0px 1px 0px rgba(103,103,103,0.31);
    text-shadow:         inset 0px 1px 0px rgba(103,103,103,0.31);
    

    width: 150px;
    

    padding: 5px 0 0 10px;
    

    margin: 0 20px 0 0;
    vertical-align: baseline;

    height: 42px;

    text-align: center;

    -webkit-appearance: none;

}

section.code button.orange-button {
    padding: 0;
    border-radius: 8px;
    background-image: -moz-linear-gradient(180deg, #FFD180 0%, #EE9E12 100%);
    background-image: -webkit-linear-gradient(-90deg, #FFD180 0%, #EE9E12 100%);
    background-image: linear-gradient(180deg, rgb(255, 209, 128) 0%, rgb(238, 158, 18) 100%);
    border: 2px solid #D18D17;
    -moz-box-shadow:    0px 1px 0px rgba(54,44,26,0.66);
    -webkit-box-shadow: 0px 1px 0px rgba(54,44,26,0.66);
    box-shadow:         0px 1px 0px rgba(54,44,26,0.66);
    font-family: Futura-CondensedExtraBold;
    font-size: 25px;
    color: #625032;
    -moz-text-shadow:    inset 0px 1px 0px rgba(103,103,103,0.31);
    -webkit-text-shadow: inset 0px 1px 0px rgba(103,103,103,0.31);
    text-shadow:         inset 0px 1px 0px rgba(103,103,103,0.31);
    width: 80px;
    padding: 5px 0 0 0;
    margin: 0 20px 0 0;
    height: 42px;
    vertical-align: baseline;
    position: relative;
    left: 30px;
}
section.code button.orange-button.reset {
    width: 100px;
    position: relative;
    left: 55px;
}

section.code div.editor-container {
    width: 95%;
    position: absolute;
    margin: 10px 2.5% 0 2.5%;
    bottom: 40px;
    top: 260px;
}

section.code div.code-content a {
    float:right;
    right: 0;
    font-family: Futura-Medium;
    font-size: 20px;
    color: #233774;
    position: relative;
    -moz-text-shadow: 0px 1px 0px rgba(0,0,0,0.06);
    -webkit-text-shadow: 0px 1px 0px rgba(0,0,0,0.06);
    text-shadow:         0px 1px 0px rgba(0,0,0,0.06);
    top: 10px;
}

#editor {
    width:100%;
    height: 100%;
}

article section footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

article section footer iframe {
    position: relative;
    left: 80px;
}

article section footer span {
    float:right;
    margin-right: 2.5%;
    font-family: Futura-Medium;
    font-size: 20px;
    color: #233774;
    -moz-text-shadow: 0px 1px 0px rgba(0,0,0,0.06);
    -webkit-text-shadow: 0px 1px 0px rgba(0,0,0,0.06);
    text-shadow:         0px 1px 0px rgba(0,0,0,0.06);
    padding-bottom: 0.5%;
}

article section footer a.twitter-share-button {
    margin:auto;
}

.star {
    position:absolute;
    background:url("../images/stern.png");
    top : 0;
    left : 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    width: 62px;
    height: 61px;
    z-index: 10;
}

@media only screen and (max-width: 650px)  {

    section.header h2 {
        margin-bottom : 19px;
        font-size:30px;
    }

    section.header h1 {
        margin-top:10px;
        font-size:100px;
    }
}

@media only screen and (max-width: 455px)  {

    section.header h2 {
        padding-top : 20px;
        font-size:20px;
    }

    /*section.header h1 {
        margin-top:20px;
        font-size:80px;
    }*/
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        zoom:2;
    }
    section.header h2 {
        padding-top : 20px;
        font-size:30px;
    }
}
